$btn-extra-width: 210px;
$btn-extra-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);

.btn {
    padding: 10px 20px;
    background-color: $bg-note;
    font-family: $ff-roboto-reg;
    color: $clr-extra;
    font-size: $fs-12;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s linear;

    &:hover {
        background-color: darken($bg-note, 10);
    }

    &:focus {
        outline: none;
    }

    &--warning {
        background-color: $bg-warning;

        &:hover {
            background-color: darken($bg-warning, 10);
        }
    }

    &--marg-left {
        margin-left: 5px;
    }
}

.btn-secondary {
    background-color: $bg-extra;
    color: $clr-primary;
    font-family: $ff-roboto-bold;
    font-size: $fs-18;
    line-height: 36px;
    padding: 15px 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: color .2s linear, background-color .2s linear;

    &:hover {
        color: $clr-note;
        background-color: darken($bg-extra, 5);
    }
}

.btn-extra {
    width: $btn-extra-width;
    padding: 10px 0;
    color: $clr-extra;
    font-family: $ff-roboto-bold;
    font-size: $fs-16;
    line-height: 30px;
    box-shadow: $btn-extra-shadow;
    cursor: pointer;
    margin-bottom: 8px;
    transition: background-color .2s linear;
}