@import './variables';
@import './reset.scss';
@import './default-classes.scss';

.section-default {
    background-color: $bg-secondary;
}

.title--tabs { 
    color: $fontGray;
}

.tabs__menu {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.tabs__menu-item {
    margin-right: 10px;
  
}

.tabs__menu-item:last-child {
    margin-right: 0;
}


.tabs__menu-btn {
    padding: 9px 25px;
    /* width: 70px; */
    /* height: 11px; */
    color: $dark;
    font-family:$ff-roboto-reg;
    font-size: 14px;
    font-weight: 500;
    background-color: $bg-extra;
    /* line-height: 60px; */
}

.tabs__menu-btn:hover {
    box-shadow: 0 2px 5px rgba(202, 215, 228, 0.75);
    background-color: $btn-bg-warning;

}


.card { 
    width:25% ;
    padding: 0 15px;  

}

.card__wrapper {
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    background-color:$bg-color-white;
}

.card__wrapper:hover {
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
}

.card__triangle {
    border: 65px solid transparent;	
    border-left: 65px solid #8bc34a;
    border-top: 0 solid #8bc34a;
    position: relative;
}

.card__icon-lightning {
    color: white;
    position: absolute;
    top: 13px;
    left: -46px;
}

.card__header {
    background-color: $bg-color-alto;
    height: 250px;
}

.card__main {
    display: flex;
    justify-content: space-between;
    background-color: $bg-color-white;
    padding: 30px 30px;
}

.description__common {
    color: $font-cutty-sark;
    font-family:$ff-roboto-bold;
    font-weight: 500;
    font-size: $fs-18;
    line-height: 60px;
}

.description__technology {
    color: $font-sushi;
    font-size: $fs-14;
    font-weight: 500;
}

.price {
    font-family:$ff-roboto-bold;
    color: $fontGray;
    font-size: 20px;
    font-weight: 700;
    padding-top: 8px;
    line-height: 60px;
    
}

.card__footer {
    display: flex;
    // justify-content: space-between;
    border-top: 1px solid #d4d4d4;
    padding: 20px 30px;
}

.icon__text-wrapper {
    display: flex;
}

.footer__icon {
    background-color: $bg-color-nobel;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: -10px;
}

.footer__text {
color: $font-cutty-sark;
font-family:$ff-roboto-bold;
font-size: 14px;
font-weight: 500;
padding-left: 14px;
}


.stars {
    display: flex;
    padding-left: 38px;
}

.footer__stars {
    color: #ffa726;
    padding-top: 3px;
    font-size: 12px;
    font-weight: 400;
}

.mark {
color: $fontGray;
font-family:$ff-roboto-reg;
font-size: $fs-14;
font-weight: 400;
margin-left: 14px;
padding: 3px;
}

.mark::before {
    content: '(';
}

.mark::after {
    content: ')';

}


.tabs {
    &__item {
        display: none;
        flex-wrap:wrap;
        justify-content: space-between; 
    }

    &--active {
        display:flex;
    }
    
}

