

// background color 
$bg-color-alto:#d4d4d4;
$bg-color-nobel: #b5b5b5;
$bg-color-white: #fff;
$bg-color-mercury: #E8E8E8;
// size 

$width: 25%;

// font color 
$font-cutty-sark: #546E7A;
$font-sushi:#8BC34A;
$font-outer-space: #263238;
$font-regent-gray :#81929A;
$font-slate-gray: #74868e;

