// colors

$dark: #263238;
$white: #fff;
$red: #e74c3c;
$green: #8bc34a;
$nobel: #b5b5b5;
$grey: #d4d4d4;

// background colors

$bg-primary: $dark;
$bg-secondary: #f4f6f5;
$bg-extra: $white;
$bg-note: $green;
$bg-empty: #d4d4d4;
$bg-warning: $red;
$bg-nobel: $nobel;
$bg-additional: $grey;
$bg-color-mercury: #E8E8E8;

// fonts colors

$clr-primary: $dark;
$clr-secondary: #546e7a;
$clr-extra: $white;
$clr-note: $green;
$clr-warning: $red;
$clr-holder: #90a4ae;
$clr-holder-extra: #697378;
$clr-sub: #b7c3c8;
$clr-additional: #707070;
$clr-inactive: #70838d;

// font size 

$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-30: 30px;
$fs-36: 36px;
$fs-48: 48px;

$btnLine-Hight: 30px;

$ff-roboto-reg: "robotoregular";
$ff-roboto-light: "roboto_lightregular";
$ff-roboto-bold: "robotobold";
$ff-raleway-reg: "ralewayregular";
$ff-raleway-light: "raleway_lightregular";
$ff-raleway-bold: "ralewaybold";

// margins and paddings

$section-space: 120px 0;
$section-space-secondary: 25px 0;
$col-space: 0 15px;
$section-mobile: 75px 0;

$container-width: 1200px;
$width-25: 25%;
$width-33: 33.3333%;
$width-50: 50%;
$wrapper-border: 1px solid #d7d7d7;