.breadcrumbs {
    $root: ".breadcrumbs";

    padding: 45px 0;

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        margin-right: 10px;

        &::after {
            content: "-";
            display: inline-block;
            color: $clr-note;
            margin-left: 7px;
        }

        &:last-child {
            margin-right: 0;

            &::after {
                display: none;
            }

            #{$root}__link {
                color: $clr-primary;
            }

        }
    }

    &__link {
        font-family: $ff-roboto-reg;
        color: #b0bec5;
    }
}