$overlay-bg: rgba(0, 0, 0, 0.6);
$pop-up-shadow: 0 0 70px 50px rgba( 0, 0, 0, 0.7);
$pop-up-max-width:730px;
$pop-up-lable-bg: #76AE36;
$clr-black: #000000;


.pop-up {  
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) ;
    padding: 90px 160px 110px;
    background-color: $bg-note;
    max-width: $pop-up-max-width;
    width: 100%;  


    &__overlay {
        display: none;
        position: fixed;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        background-color: $overlay-bg;
        box-shadow: $pop-up-shadow ;

        &--is-opened {
             display: block;
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 30px;
        color: $clr-extra;
        font-size: $fs-18;
    }

    &__title {
        font-size: $fs-48 ;
        color: $clr-extra;
        text-transform: uppercase;
        font-family: $ff-roboto-bold;
        margin-bottom: 40px;
    }

        
    &__label {
        display: flex;
        align-items: center;
        background-color: $pop-up-lable-bg;
        padding: 0 8px;
        margin-bottom: 8px;

        i {
            width: 33px;
            color: $clr-extra;
            text-align: center;  
        } 
}
 
    &__input {
        flex-grow: 2;
        background-color: transparent;
        border: none;
        line-height: 43px;
        color: $clr-extra;

        &::placeholder {
            color: $clr-extra;
            transition: color .2s linear;
        }

        &:focus {
            &::placeholder {
                color: transparent;
            }

        }
           
    }
 
    &__actions-wrapper {
        margin: 20px 0 25px;
        display: flex;
        justify-content: space-between;
      
    }

    &__btn-login {
        color:$clr-black;
        font-family: $ff-roboto-bold;
        background-color: $bg-extra;
        font-size: $fs-14;
        text-transform: uppercase;
        padding: 17px 0;
        width: 140px; 
        box-shadow: 0 2px 2px rgba(118, 174, 54, 0.75); 
    }

    &__new-account {
        display: block;
        color: $clr-extra;
        font-size: $fs-18;
        font-family: 
        $ff-roboto-reg;
        background-color: $pop-up-lable-bg;
        text-align: center;
        padding: 17px;
        width: 250px;
       
       
    }
    &__lost-pass {
        font-size: $fs-18;
        font-family: 
        $ff-roboto-reg;
        color: $clr-extra;
    } 

}