$select-width: 90px;
$height: 27px;
$select-arrow-bg: 5px solid $bg-note;

.product-card__wrapper {
    
    .jq-selectbox {

        .jq-selectbox__select {

            color: $clr-inactive;
            font-family: $ff-roboto-reg;
            font-size: $fs-13;
            line-height: 24px;
            box-shadow: none;
            border-radius: 0;
            background: none;
            padding: 0px 25px 0 10px;
            width: $select-width;
            text-shadow: none;
            height: $height;
        }

        .jq-selectbox__trigger {
            border-left: none;
            top: -3px;

            &-arrow {
                border-top: $select-arrow-bg;
            }
        }

        &__dropdown {

            border-radius: 0;

            li {
                height: $height;

                &:hover {
                    background-color: $bg-note;
                }
            }

            .selected {
                background-color: $bg-note;
            }
        }
    }
}