$services-width: 900px;
$service-filter-border: 1px solid #d7d7d7;
$services-photo-height: 180px;
$services-icon-clr: #455a64;
$services-link-height: 38px;
$services-link-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);

.product-page {
    background-color: $bg-secondary;
    padding-top: 30px;

    &__layout {
        @include flex;
    }

    .breadcrumbs {
        display: none;

        @media (min-width: 1300px) {
            display: block;
        }
    }

    @media (min-width: 1300px) {
        padding-top: 0;
    }
}

.services {
    padding: 0 0 50px;
    max-width: 100%;

    @media (min-width: 1300px) {
        padding: 0 0 110px 30px;
        max-width: $services-width;
    }

    &__filter {
        @include flex (space-between);
        background-color: $bg-extra;
        padding: 20px;
        border: $service-filter-border;
        margin-bottom: 15px;

        &-wrapper {
            @include flex;
        }

        &-btn {
            color: $services-icon-clr;
        }

        &-text {
            color: $clr-additional;
            font-family: $ff-roboto-reg;
            font-size: $fs-14;
            line-height: 20px;
            margin: 0 12px;
        }

        &-switch {
            margin-left: 15px;
            font-size: $fs-16;
            color: $clr-holder;
            transition: color .2s linear;

            &:hover {
                color: $clr-note;
            }

            @media (min-width: 900px) {
                margin-left: 11px;
            }
        }
    }

    &__card-item {
        width: 100%;

        @media (min-width: 550px) {
            width: 50%;
        }

        @media (min-width: 900px) {
            width: 33.3333%;
        }
    }

    &__tab-wrapper {
        @include flex;
        margin: 0 -15px;

        .card__header {
            height: $services-photo-height;
        }

        .card__main {
            padding: 30px 20px 25px;
        }

        .card__footer {
            padding: 15px 20px;
            align-items: center;
        }

        .mark {
            margin-left: 6px;
        }

        .footer__icon {
            margin: 0;
        }

        .icon__text-wrapper {
            align-items: center;
        }

        .description__common {
            font-size: $fs-16;
        }
    }

    &--icon {
        font-size: $fs-18;
        color: $clr-additional;
    }
}

.services__pages {
    margin-top: 48px;
    @include flex (center);

    @media (min-width: 1300px) {
        display: block;
    }
    

    &-list {
        @include flex;
    }

    &-item {
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }
    }

    &-link {
        display: inline-block;
        height: $services-link-height;
        background-color: $bg-extra;
        box-shadow: $services-link-shadow;
        line-height: 38px;
        color: $clr-primary;
        font-size: $fs-16;
        font-weight: 500;
        padding: 0 15px;
        transition: background-color .1s linear, color .1s linear;

        &:hover {
            background-color: $bg-warning;
            color: $clr-extra;
        }
    }
}

