@import './abstracts/variables';
@import './reset.scss';
@import './default-classes.scss';



/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
// ///////////////

.slick-dots {
    margin-top: 65px;
    display: flex;
    justify-content: center;
}

.slick-dots button {
    color: transparent;
    background-color: $bg-color-mercury;
    border:none;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    outline: none;
}

.slick-dots button:focus {
    background-color: $font-sushi;
}

// .slick-dots button:focus {
//     background-color: $green;
// }

// #slick-slide-control00 {
//     color: #e8e8e8;
//     margin: 0 10px;
//     border-radius: 50%;
//     width: 16px;
//     height: 16px;
//     // border: 1px solid #000000;
//     background-color: #e8e8e8;
// }

// #slick-slide-control01 {
//     color: #e8e8e8;
//     margin: 0 10px;
//     border-radius: 50%;
//     width: 16px;
//     height: 16px;
//     // border: 1px solid #000000;
//     background-color: #e8e8e8;

// }

// end

.trends {
    padding: $section-space;
    background-color: $bg-extra;
}

.title--trends {
    color: $dark;
    font-size: $fs-36;
    margin-bottom: 40px;
}

.slider__item  .card {
    width: 100%;

}

.tabs {
    &__item {
        // display: none;
        display: flex;
        flex-wrap:wrap;
        justify-content:center; 
    }

    &--active {
        display:flex;
    }
    
}