$sertion-height: 530px;
$search-width: 670px;
$input-width: 100%;
$input-box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
$box-shadow-dark:  0 1px 10px rgba(100, 100, 100, 0.75);

.banner {
    height: $sertion-height;
    background-image: url(../img/banner.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .title--banner {
    font-family: $ff-roboto-bold;
    font-size: $fs-48;
    color: $clr-extra;
  }
  
  .banner__text {
    text-align: center;
    font-family: $ff-roboto-bold;
    font-size: $fs-20;
    color: $clr-extra;
    margin: 35px 0 55px;
  } 
  
  
  .search_position {
    display: flex;
    justify-content:center;
  }
  
  .search {
    position: relative;
    font-family:$ff-raleway-bold;
    color: $clr-holder-extra;
    border-radius: 5px;
    width: $search-width;
    background-color: #fff;
    box-shadow: $input-box-shadow;

    &--shadow {
      box-shadow: $box-shadow-dark;
    }
  }
  
  .banner__input {
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 23px;
    line-height: 57px;
    width: $input-width;
  }
  
  .search_btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    cursor: pointer;
  }

  .banner--small {
    height: 290px;
}