.section-default { 
  padding: $section-space;
}

.container {
  max-width:  $container-width;
  padding: $col-space;
  color: $fontGray;
}

button {
  padding: 0;
  outline: none;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
} 

input {
  outline: none;
} 
