@import "./fonts";
@import "./reset";
@import "./abstracts/variables";
@import "./default-classes";
@import "./abstracts/mixins";
@import "./components/buttons";
@import "./header.scss";
@import "./benefits";
@import "./offer";
@import "./tutorials";
@import "./slider";

.card {
    width: 25%;
    padding: 0 15px;
    height: 300px;
    background-color: #ccc;
    border: 2px solid #000;
}

.tabs {
    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

