@import "./fonts";
@import "./reset";
@import "./abstracts/variables";
@import "./default-classes";
@import "./abstracts/mixins";

body {
    font-family: $ff-roboto-reg;
    font-size: $fs-14;
    line-height: 1;
    color: $clr-primary;
}

