
// $fonts: Roboto-bold, Raleway;
$fontWhite: #ffffff;
$fontGray: #263238;
$btnLine-Hight: 30px;
$btnColor: #ffffff;
$background: #f4f6f5;
$ff-raleway-reg:'ralewayregular';
$ff-raleway-light: 'raleway_lightregular';
$ff-raleway-bold:'ralewaybold';
$ff-roboto-reg:'robotoregular';


// colors

$dark: #263238;
$white: #fff;
$red: #e74c3c;
$green: #8bc34a;

// background colors

$bg-primary: $dark;
$bg-secondary: #f4f6f5;
$bg-extra: $white;
$bg-note: $green;
$bg-empty: #d4d4d4;
$btn-bg-warning: $red;

// fonts colors

$clr-primary: $dark;
$clr-secondary: #546e7a;
$clr-extra: $white;
$clr-note: $green;
$clr-warning: $red;
$clr-holder: #90a4ae;
$clr-holder-extra: #697378;
$clr-sub: #b7c3c8;

// font size 

$fs-12: 12px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-30: 30px;
$fs-36: 36px;
$fs-48: 48px;

// margins and paddings

$section-space: 120px 0;
$col-space: 0 15px;
$container-width:1200px;

