// $fonts: Roboto-bold;
$fontSize36: 36px;
$fontSize18: 18px;
$fontSize: 14px;
$fontWhite: #ffffff;
$fontGray: #263238;
$btnLine-Hight: 30px;
$btnColor: #ffffff;
$background: #f4f6f5;
$section-space:120px 0;
$container-width:1200px;
$col-space: 0 15px;
$ff-raleway-reg:'ralewayregular';
$ff-raleway-light: 'raleway_lightregular';
$ff-raleway-bold:'ralewaybold';
// $ff-raleway-regular: ; 
